.cred-card {
    position: relative;
    z-index: 1;
    height: 21.5rem;
    padding: 20px;
    border-radius: 10px;
    margin: 30px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1); /* Soft shadow for a glassy effect */
    background: rgba(175, 175, 175, 0.2); /* Transparent white background */
    backdrop-filter: blur(15px) saturate(180%); /* Blur and saturation for glass effect */
    -webkit-backdrop-filter: blur(15px) saturate(180%); /* For Safari */
    border: 1px solid rgba(208, 208, 208, 0.3); /* Soft border */
    transition: transform 0.5s ease-in-out;
}

.cred-card::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: inherit; /* Inherit the glassy look */
    z-index: -1;
    border-radius: 10px;
}
.cred-card:hover , .cred-card:focus , .cred-card:active {
    transform: scale(1.05);
    background: rgba(154, 154, 154, 0.2);
}